<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cafe mon</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>
   <header>
     <div class="header-logo">
       <img src="https://tabelog.com/imgview/original?id=r8578663815191">
     </div>
     <div class="header-list">
       <h1>
         <a href="/">Home</a>
         <a href="/concept">Concept</a>
         <a href="/menu">Menu</a>
         <a href="/recruit">Recruit</a>
         <a href="/login">Online Shop</a>
       </h1>
       <h2>
         <a href="/" class="home">ホーム</a>
         <a href="/concept" class="concept">cafe Monって？</a>
         <a href="/menu" class="menu">フードも充実</a>
         <a href="/recruit" class="recruit">採用情報</a>
         <a href="/login" class="onlinestore">オンラインショップ</a>
       <h2>
     </div>
   </header>
     <div class="reserve">
       <h1><a href="/reserve">ネット予約はこちら ^</a></h1>
     </div>
     <div class="season-menu">
       <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/186558454_3807962109329562_2786149754385809320_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=7MYHGL1yVccAX8FT8mB&_nc_ht=scontent-lax3-1.xx&oh=78bc750515b1b835e660029a80d005c3&oe=60CB5261">
       <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/189702057_3822011484591291_7483010041098396268_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=FELqeP8LHZgAX9au89Z&_nc_ht=scontent-lax3-1.xx&oh=5df76f9c16479fb7986db94ed5be8214&oe=60D0ECCA">
       <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/189080925_3822011101257996_418625914871599324_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=FMO6E3U0ThsAX_1AuWz&_nc_ht=scontent-lax3-1.xx&oh=5f89a83d4bb6f3278e6814a9d4a1f095&oe=60D158BE">
       <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/188514133_3822011957924577_2788748109463643984_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=twxJJn7Q86QAX9Qhn45&_nc_ht=scontent-lax3-1.xx&oh=30e72df635dd46f07d32c3154db9b5f0&oe=60D1887A">
       <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.6435-9/188588261_3822012457924527_7113048069986104314_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=YYAIquTHrhIAX_wQp29&_nc_ht=scontent-lax3-2.xx&oh=9d9c9dcdc81b1067f8a669e0678be0f9&oe=60CFDDB6">
       <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.6435-9/188922122_3822010497924723_1955779370157565037_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=VyYN_qMUwJAAX9WK2E2&_nc_ht=scontent-lax3-2.xx&oh=bd2329821e5bb031d95f262f798e350d&oe=60D29B33">
       <img src="">
       <img src="">
       <img src="">
       <img src="">
     </div>
   <footer>
     <div class="shop-infomation">
     　<div class="footer-logo">
       　<img src="https://tabelog.com/imgview/original?id=r8578663815191">
     　</div>
     </div>
     <div class="shop-infomation">
       <div class="footer-center">
         <h1>072-782-6672</h1>
         <p>cafe Mon (カフェ　モン)
         <br>兵庫県伊丹市中央1-1-1 伊丹ショッピングデパート 5F
         <br>・阪急電鉄　伊丹駅より徒歩１分
         <br>・JR福知山線　伊丹駅より徒歩１０分
         <br>・阪急電鉄　伊丹駅2Fより伊丹ショッピングデパートへの連絡通路あり
         <br>＜営業時間＞
         <br>１０：００〜２０：００
         <br>＜定休日＞
         <br>月１回　火曜日（伊丹ショッピングデパート休館日に準ずる）
     　  </p>
       </div>
     </div>
     <div class="shop-infomation">
       <div class="footer-right">
         <a href="/home">ホーム</a>
         <br><a href="/concept">cafe Monって？</a>
         <br><a href="/menu">フードも充実</a>
         <br><a href="/recruit">採用情報</a>
         <br><a href="/login">オンラインショップ</a>
       </div>
     </div>
    </footer>
   </body>
</html>
