<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cafe Mon</title>
    <link rel="stylesheet" href="stylesheet.css">
    <style type="text/css">
    #photo {
        width: 1000px;
        height: 700px;
        margin-top: 100px;
        float: right;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    #photo img {
        top: 0;
        left: 0;
        position: absolute;
    }
    </style>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    $(function(){
        var setImg = '#photo';
        var fadeSpeed = 1600;
        var switchDelay = 5000;

        $(setImg).children('img').css({opacity:'0'});
        $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

        setInterval(function(){
            $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
        },switchDelay);
    });
    </script>
   </head>

  <body>
   <header>
     <div class="header-logo">
       <img src="https://tabelog.com/imgview/original?id=r8578663815191">
     </div>
     <div class="header-list">
       <h1>
         <a href="/">Home</a>
         <a href="/concept">Concept</a>
         <a href="/menu">Menu</a>
         <a href="/recruit">Recruit</a>
         <a href="/onlineshop">Online Shop</a>
       </h1>
       <h2>
         <a href="/" class="home">ホーム</a>
         <a href="/concept" class="concept">cafe Monって？</a>
         <a href="/menu" class="menu">フードも充実</a>
         <a href="/recruit" class="recruit">採用情報</a>
         <a href="/onlineshop" class="onlinestore">オンラインショップ</a>
       <h2>
     </div>

   </header>
    <div class="container">
      <div class="reserve">
        <h1><a href="/reserve">ネット予約はこちら ^</a></h1>
      </div>
      <div class="top">
         <img class="img1" src="https://photosku.com/images_file/small_images/s007_344.jpg">
         <img class="img2" src="https://www.silhouette-illust.com/wp-content/uploads/2016/06/3674-300x300.jpg">
      </div>
      <div class="top">
         <div id="photo">
          <img class="img3" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/180687171_3757363204389453_5053397619291808234_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=BaMJI-CAutMAX9kZIme&_nc_oc=AQmqHCQ2kTKirHSRtKgxWfdT241Ph_mBHG5ZIxpDBy-VXyHidRVLb7nGkIrSnrF9_GI&_nc_ht=scontent-nrt1-1.xx&oh=5d4cd8dc876b5deced234596068ec157&oe=60B25D57" width="1000" height="700" alt="">
          <img class="img3" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/179529811_3757336451058795_7395640350545334433_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=yJW_gao2U8cAX_fWwIO&_nc_ht=scontent-nrt1-1.xx&oh=c262bcec7149c54c0172125fbf1c7606&oe=60B39590" width="1000" height="700" alt="">
          <img class="img3" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/180627111_3757335904392183_3535981225089727471_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=VvrIUe5rk90AX9LehIw&_nc_ht=scontent-nrt1-1.xx&oh=490c54642873d70a2bce2d90bfaeb256&oe=60B481CA" width="1000" height="700" alt="">
          <img class="img3" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/180627115_3757377591054681_5093129677315287138_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=X5ZIDSLDoSMAX954rMc&_nc_ht=scontent-nrt1-1.xx&oh=b2ed63370852f86343753d625fac1f6c&oe=60B5CD34" width="1000" height="700" alt="">
         </div>
      </div>
      <div class="clear">
      </div>
      <div class="top-news">
        <span>
          ラテアートの大会に出場してまいりました！　
          JAPAN LATTE ART CHANPION SHIP 2019 大阪大会出場
        </span>
      </div>
     <div class="top-wrapper">
       <div class="top-wrapper-logo">
        <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/163906816_4412763758748408_4176040261527196045_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=973b4a&_nc_ohc=3CJcOf0SC4AAX_dkEZU&_nc_ht=scontent-lax3-1.xx&oh=61645898d039743267b862f821f87ac8&oe=609450D1">
       </div>
     </div>
     <div class="top-wrapper">
        <div class="top-wrapper-message">
          <h1>
          <p>最高の一杯</p>
          <p>最高の時間をあなたに届けたい</p>
          </h1>
          <p>コーヒー豆にもこだわった一杯を</p>
          <p>お楽しみください！</p>
        </div>
      </div>
      <div class="second-wrapper">
         <div class="second-wrapper-message">
           <h1>メニューのバリエーションが豊富な</h1>
           <h2>パンケーキ</h2>
           <p>お客様に飽きられないように</p>
           <p>いつでもワクワクできるように、たくさんの種類をご用意致しました</p>
         </div>
      </div>
      <div class="second-wrapper">
        <div class="second-logo">
        <img src="https://tabelog.com/imgview/original?id=r0809663833875">
        </div>
      </div>
     </div>
     <div class="news-wrapper">
       <div class="news-header">
        <h1>News</h1>
       </div>
       <div class="news-body">
         <p>coming soon...</p>
       </div>
     </div>


  <footer>
    <div class="shop-infomation">
    <div class="footer-logo">
      <img src="https://tabelog.com/imgview/original?id=r8578663815191">
    </div>
    </div>
    <div class="shop-infomation">
    <div class="footer-center">
      <h1>072-782-6672</h1>
      <p>cafe Mon (カフェ　モン)
        <br>兵庫県伊丹市中央1-1-1 伊丹ショッピングデパート 5F
        <br>・阪急電鉄　伊丹駅より徒歩１分
        <br>・JR福知山線　伊丹駅より徒歩１０分
        <br>・阪急電鉄　伊丹駅2Fより伊丹ショッピングデパートへの連絡通路あり
        <br>＜営業時間＞
        <br>１０：００〜２０：００
        <br>＜定休日＞
        <br>月１回　火曜日（伊丹ショッピングデパート休館日に準ずる）
    　</p>
    </div>
    </div>
    <div class="shop-infomation">
    <div class="footer-right">
      <a href="/home">ホーム</a>
      <br><a href="/concept">cafe Monって？</a>
      <br><a href="/menu">フードも充実</a>
      <br><a href="/recruit">採用情報</a>
      <br><a href="/onlineshop">オンラインショップ</a>
    </div>
    </div>
  </footer>
  </body>
</html>
