*{
  margin: 0;
  padding: 0;
}
header {
  }
.header-logo img{
  width: 150px;
}

.header-logo{
  text-align: center;
}

.header-list{
  text-align: center;
}
.header-list h1 a{
  font-size: 38px;
  text-decoration: none;
  color: black;
  font-family: cursive;
  margin-left: 45px;
}
.header-list h2 a{
  margin: 0px 35px 0px 35px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
.header-list h2{
  margin-top: -20px;
}
.home{
  padding-left: 20px;
}
.concept{
  padding-left: 15px;
}
.menu{

  padding-right: 20px;
}
.recruit{
  padding-right: 30px;
}

.reserve h1{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-color: black;
  color: white;
  padding: 30px 15px;
  font-size: 18px;
  letter-spacing: 4px;
  font-family: YuMincho;
  font-weight: normal;
  border: double;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1;

}
.reserve h1 a{
  text-decoration: none;
  color: white;
}
.top{
  float: left;
  width: 50%;
  margin-bottom: 100px;
}
.img2{
  padding-left: 210px;
}
.clear {
  clear:both
}
.top-news{
  text-align: center;
}
.top-news span{
  background-color: #333333;
  color: white;
  padding: 40px 100px;
  border: solid black;
  font-weight: bold;
}
.top-wrapper{
  float: left;
  height: 300px;
  width: 50%;
}

.top-wrapper img{
  width: 450px;
  padding-left: 150px;
  padding-top: 100px;
}
.top-wrapper-message{
  margin-top: 250px;
  padding-right: 200px;

}
.second-wrapper{
  float: left;
  width: 50%;
}
.second-wrapper img{
  margin-top: 200px;
  width: 500px;
}
.second-wrapper-message{
  padding-top: 300px;
  padding-right: 50px;
  text-align: right;
}
.second-wrapper-message h1{
  font-weight: normal;
  font-size: 18px;
}
.second-wrapper-message h2{
  font-size: 35px;

}
.news-header{
  width: 90px;
  margin: auto;
  text-align: center;
  font-family: cursive;
}
.news-body{
  width :740px;
  height: 400px;
  margin: auto;
  border: dotted black;
  padding-bottom: 50px;
}
.container{
  height: 2000px;
}
footer{
  margin-top: 50px;
  padding-top: 50px;
  bottom: 0;
  height: 400px;
  width: 100%;
  background-color: black;
}
.shop-infomation{
  float: left;
  width: 33%;
}
.footer-logo img{
  width: 150px;
  margin-top: 30px;
  margin-left: 270px;
}
.footer-center{
  color: white;
}

.footer-right{
  padding-top: 60px;
}
.footer-right a{
  padding-left: 100px;
  color: white;
}
