/* タブレット向けレイアウト */
@media (max-width: 1000px) {

}

/* スマホ向けレイアウト */
@media screen and (max-width: 670px) {
  .top {
    width: 100%;
  }
  footer {
    text-align: center;
    background-color: black;
  }
  .footer-logo img{
    width: 150px;
  }
  .footer-center{
    color: white;
  }
  .footer-right a{
    color: white;
  }
}
