/* タブレット向けレイアウト */
@media (max-width: 1000px) {

}

/* スマホ向けレイアウト */
@media screen and (max-width: 670px) {
  .top img{
    width: 100%;
  }
  .img1{
    width: 30px;
  }
  .img2{
    width: 30px;
  }
  .img3{
    width: 70px;
  }
  .news-header{
    margin: auto;
    text-align: center;
    font-family: cursive;
  }
  .news-body{
    margin: auto;
    border: dotted black;
    padding-bottom: 50px;
  }
  footer {
    text-align: center;
    background-color: black;
  }
  .footer-logo img{
    width: 150px;
  }
  .footer-center{
    color: white;
  }
  .footer-right a{
    color: white;
  }
}
